In [1]:
import pandas as pd
import json
import requests
import glob
import os
from sqlalchemy import create_engine
from bs4 import BeautifulSoup

# Hackathon #2 - Data Wrangling (Instructor solution)

## Table of Contents
- [Get the Data](#Get-the-Data)
    - [Data in files](#Data-in-files)
    - [Data in Database](#Data-in-Database)
    - [Data in Website](#Data-in-Website)
- [Merge the Data](#Merge-the-Data)
- [Data in API](#Data-in-API)
- [Create Train Dataset](#Create-Train-Dataset)

## Get the Data

### -> Data in Database

First we need to check what information we have in the database

In [3]:
username = 'ldsa_student'
password = 'R4Fr4P3aAgMYBqqP'
host_name = 'batch4-s02-db-instance.ctq2kxc7kx1i.eu-west-1.rds.amazonaws.com'
port = 5432
db_name = 's02_db'
schema = 'public'

In [4]:
conn_str = 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host_name, port, db_name)
conn_args = {'options': '-csearch_path={}'.format(schema)}

In [5]:
engine = create_engine(conn_str, connect_args=conn_args)

In [11]:
engine

Engine(postgresql://ldsa_student:***@batch4-s02-db-instance.ctq2kxc7kx1i.eu-west-1.rds.amazonaws.com:5432/s02_db)

In [18]:
query= """
SELECT *
FROM hackathon_02;
"""
df_db_table_info = pd.read_sql_query(query, engine)
df_db_table_info = df_db_table_info.set_index('Timestamp')
display(df_db_table_info)

              MA10      RSI30      RSI10        %K10
Timestamp
1325317920     NaN        NaN        NaN         NaN
1325346600     NaN        NaN        NaN         NaN
1325350740     NaN        NaN        NaN         NaN
1325350800     NaN        NaN        NaN         NaN
1325391360     NaN        NaN        NaN         NaN
...            ...        ...        ...         ...
1351989660  10.632  53.396343  57.953487  100.000000
1351991700  10.620  41.725604  26.388609    0.000000
1351994460  10.632  50.897150  50.923396   82.608696
1351994760  10.638  50.464714  49.949809   78.260870
1351995420  10.639  51.737293  52.948358   91.304348

[19616 rows x 4 columns]

We have a single table, named "hackathon_02". We'll be selecting everything from that table and saving it in a dataframe

In [19]:
df_db_table_info.to_csv('database_data.csv')

In [20]:
! head -n 1 database_data.csv

Timestamp,MA10,RSI30,RSI10,%K10