In [2]:
import pandas as pd
import json
import requests
import glob
import os
from sqlalchemy import create_engine
from bs4 import BeautifulSoup

# Hackathon #2 - Data Wrangling (Instructor solution)

## Get the Data

### Data in API

In [5]:
base_url = 'https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/1'
response = requests.get(base_url)
print(response.text)

{"Timestamp": 1325346600, "RSI10": null, "%K200": null, "%K30": null, "EMA10": null}

In [8]:
content = []
failed = []
base_url = 'https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02'
for i in range(19615):
    
    if i % 500 == 0:
        print(i)
        print(f'{base_url}/{i}')
    response = requests.get(f'{base_url}/{i}')
    if response.ok:
        data = json.loads(response.text)
        #print(data)
        content.append(data)
    else:
        failed.append(i)

0
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/0
500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/500
1000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/1000
1500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/1500
2000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/2000
2500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/2500
3000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/3000
3500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/3500
4000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/4000
4500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/4500
5000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/5000
5500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/5500
6000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/6000
6500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/6500
7000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/7000
7500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/7500
8000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/8000
8500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/8500
9000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/9000
9500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/9500
10000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/10000
10500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/10500
11000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/11000
11500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/11500
12000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/12000
12500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/12500
13000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/13000
13500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/13500
14000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/14000
14500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/14500
15000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/15000
15500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/15500
16000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/16000
16500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/16500
17000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/17000
17500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/17500
18000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/18000
18500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/18500
19000
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/19000
19500
https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev/hackathon_02/19500

In [9]:
print(len(failed))

0

In [17]:
df_all = pd.DataFrame.from_records( content )

In [19]:
df_all = df_all.set_index("Timestamp")
df_all

           RSI10 %K200  %K30      EMA10
Timestamp
1325317920  None  None  None        NaN
1325346600  None  None  None        NaN
1325350740  None  None  None        NaN
1325350800  None  None  None        NaN
1325391360  None  None  None        NaN
...          ...   ...   ...        ...
1351989000  None  None  None  10.649474
1351989660  None  None  None  10.655024
1351991700  None  None  None  10.617747
1351994460  None  None  None  10.621793
1351994760  None  None  None  10.623285

[19615 rows x 4 columns]

In [20]:
df_all.to_csv('api_data.csv')